/* Adicione este CSS ao seu arquivo de estilo (por exemplo, app.component.css) */

#page-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin-right: 15px; /* Espaçamento entre os itens do menu, ajuste conforme necessário */
}

.nav-link {
  text-decoration: none;
  color: black; /* ou a cor desejada para os links */
}

/* Para adicionar algum estilo ao link ativo */
.router-link-active {
  font-weight: bold;
  color: #007bff; /* ou a cor desejada para o link ativo */
}

/* Estilo para o dropdown (se necessário) */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  display: block;
  padding: 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #495057;
  white-space: nowrap;
}

.dropdown-menu a {
  color: #495057;
}

.dropdown-menu a:hover {
  background-color: #f8f9fa;
}