<p>home works!</p>
<!-- home.component.html -->
<div>
  <h2>Bem-vindo à Página Inicial!</h2>
  <p>Esta é a página inicial do seu aplicativo Angular.</p>
</div>

<div>
  <header>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/login">Login</a></li>
        <!-- Adicione mais itens do menu conforme necessário -->
      </ul>
    </nav>
  </header>
  
  <main>
    <h2>Welcome to the Home Page!</h2>
    <!-- Adicione outros conteúdos da página home aqui -->
  </main>
</div>